.body {
  background-color: rgb(251, 209, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

img {
  border-radius: 10px;
}

p {
  font-style: italic;
  color: rgb(255, 255, 255);
}
